@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Ysabeau Infant", sans-serif;
  -webkit-tap-highlight-color: transparent;
  transition: color 200ms, background 200ms, background-color 200ms;
}

html,
body {
  min-height: 100vh;
  max-width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 768px) {
  * {
    &::-webkit-scrollbar-track {
      box-shadow: none !important;
      background-color: transparent;
      cursor: default;
    }

    &::-webkit-scrollbar {
      background-color: transparent;
      cursor: default;
      width: 8px;
      height: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #efefef;
      border-radius: 12px;
      cursor: pointer;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #9f999f;
    }
  }
}

.main-app {
  background-image: linear-gradient(
    179deg,
    rgba(0, 0, 0, 1) 9.2%,
    rgb(26, 54, 18) 103.9%
  );
  min-height: 100vh;
  height: fit-content;
  width: 100%;
  height: 100%;
}
.home {
  color: white;
  width: 100%;
  height: 100%;
  nav{
    display: flex;
    justify-content: space-between;
    ul {
      display: flex;
      gap: 12px;
      li a {
        display: block;
        color: rgb(63, 92, 72);
        text-align: center;
        padding: 10px 16px;
        text-decoration: none;
        cursor: pointer;
        position: relative; 
        &:hover{
             color: rgb(31, 174, 62);
        }
        &:before {
          content: '';
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: white;
          transform: scaleX(0);
          transform-origin: bottom right;
          transition: transform 0.3s ease;
        }
        &:hover:before {
          transform: scaleX(1); 
          transform-origin: bottom left;
        }
      }
    }
    .logo{
      display: block;
      align-items: center;
      span{
        font-size: small;
      }
      img{
        height: 40px;
        width: 40px;
        color: rgb(63, 92, 72);
      }
    }
  }
  .container{
  position: fixed;
  width: fit-content;
  top: 50%;
  margin-left: 30px;
  transform: translateY(-50%);
  p{
    color: hsl(107, 13%, 27%);
    letter-spacing: 9px;
  }
  h1 {
    color: hsl(107, 13%, 27%);
    font-size: 70px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 7px;
    cursor: pointer;
  }
  
  h1 span {
    transition: 0.5s ease-out;
  }
  h1:hover span:nth-child(1) {
    margin-right: 2px;
  }
  h1:hover span:nth-child(2):after {
    content: " :)";
  }
  h1:hover span:nth-child(2) {
    margin-left: 14px;
  }
  h1:hover span {
    color: #b9f346;
    outline: black;
    text-shadow: 0 0 10px #dee986, 0 0 10px #a2fc66, 0 0 40px #fff;
  }
  }
}

