@import "@/styles/variables";
@import "@/styles/global";

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-200;
  z-index: 20;
  position: relative;
  overflow: hidden;
  padding: 4rem;
}

.animation {
  position: absolute;
  height: 200px;
  width: 250px;
  border-radius: 50%;
  mix-blend-mode: multiply;
  filter: blur(24px);
  opacity: 0.65;
  animation: blob 7s infinite linear;
  animation-delay: 2s;
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  30% {
    transform: translate(15%, 28%) scale(0.9);
  }
  66% {
    transform: translate(-20%, -25%) scale(1.1);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.ball,
.ball2,
.ball3 {
  position: absolute;
  height: 100px;
  width: 80px;
  opacity: 0.9;
  z-index: -1;
  animation-duration: 10s;
  animation-timing-function: linear;
}

.ball {
  left: 0%;
  top: 34%;
  background-color: #ff77a6;
  animation-name: move;
}

.ball2 {
  right: 0rem;
  top: 60px;
  background-color: #bcff78;
  animation-name: move;
}

.ball3 {
  left: 65%;
  bottom: 0%;
  background-color: #74d6ff;
  animation-name: move;
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(40vw, vh);
  }
  100% {
    transform: translate(0, 0);
  }
}

.profile {
  background-color: $bg-100;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  height: 300px;
  position: relative;
  display: flex;
  img {
    border-radius: 50%;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: -1px;
    left: 45%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    width: 180px;
    height: 180px;
  }
}
.details {
  width: 100%;
  padding: 42px;
  margin-top: 20px;
  gap: 12px;
  display: flex;
  justify-content: space-between;
}
